@media screen and (max-width: 991px) and (min-width: 768px){
  .row{
    .card{
      max-width: calc(100%/3 - 10px);
    }
  }
}
@media screen and (max-width: 767px) and (min-width: 576px){
  .row{
    .card{
      max-width: calc(100%/2 - 10px);
    }
  }
}
@media screen and (max-width: 575px){
  .row{
    .card{
      max-width: calc(100% - 10px);
    }
  }
}